* {
    box-sizing: border-box !important;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../assets/main-pic.jpeg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
html, body {
    height: 100vh;
}
.page-content {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.header {
    background-color: rgba(33, 150, 243, 0.8);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    height: 104px;
}
.nav-logo {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    width: 25%;
}
.logo {
    width: 233px;
    height: 44px;
}
.menu-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}
.loupe {
    height: 26px;
    width: 26px;
    margin-right: 40px;
}
.loupe:hover{
    cursor: pointer;
}
.hamburger .line {
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover{
    cursor: pointer;
}
#hamburger.is-active .line:nth-child(2){
    opacity: 0;
}
#hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}
#hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
.main-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.8);
    transition: all 0.3s ease-in-out;
}
.expanded {
    height: calc(100vh - 104px);
}
.positioning--content {
    height: 80%;
    display: flex;
    justify-content: flex-start;
}
.nav-bar {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar_content {
    padding: 0;
}
.nav-bar_content li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.link-button {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    margin: 16px;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}
.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(33, 150, 243);
    background-color: #ecf0f1;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.nav-bar_content li:hover .plus-button {
    background-color: rgb(93, 178, 246);
    color: #ecf0f1;
    transition: all 0.3s ease-in-out;
}
.contact-link:hover .plus-button {
    background-color: rgb(93, 178, 246);
    color: #ecf0f1;
    transition: all 0.3s ease-in-out;
}
.menu-content {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-template {
    color: #ecf0f1;
    font-size: 16px;
    font-weight: 300;
}
.contact-link {
    margin-left: 10%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.show-contact-form {
    color: #ecf0f1;
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px 0 16px;
}
.positioning-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.template-header {
    color: #ecf0f1;
    font-size: 34px;
    font-weight: 700;
    height: 15%;
    width: 80%;
    border-bottom: 1px solid #ecf0f1;
    display: flex;
    align-items: center;
}
.main-information-template {
    height: 80%;
    width: 80%;
}
.offer-template {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
.offer-template button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 24%;
    height: 43%;
    cursor: pointer;
    font-size: 18px;
    color: #ecf0f1;
    border: 1px solid #ecf0f1;
    margin-right: 1%;
    transition: all 0.3s ease-in-out;
}
.offer-template button:hover {
    background-color: rgba(93, 178, 246, 0.8);
    transition: all 0.3s ease-in-out;
}
.page-template {
    display: flex;
    flex-direction: row;
}
.positioning--page-template {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
}
.page-template button {
    outline: none;
    color: #ecf0f1;
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 20px 0 20px 0;
    cursor: pointer;
}
.page-template button::after {
    content: url(../assets/right-arrow.png);
    margin-left: 10px;
}